09 monitoring/node-red-20170212.json
[{"id":"a5216eeb.2b3a2","type":"sqlite","z":"e33e4bb4.297408","mydb":"29732747.d3b5b8","name":"Pi_Monitoring DB","x":771.5,"y":61,"wires":[["bfbdcdc3.cab688"]]},{"id":"41099d01.70f9f4","type":"delay","z":"e33e4bb4.297408","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":349.1666259765625,"y":273.7333068847656,"wires":[["61b65bf6.52a02c","9dae089a.3f9298"]]},{"id":"61b65bf6.52a02c","type":"function","z":"e33e4bb4.297408","name":"MQ SQL","func":"msg.topic=\"select timestamp, density  from mq order by timestamp desc limit 1\"\nreturn msg;","outputs":1,"noerr":0,"x":528.1666259765625,"y":232.3332977294922,"wires":[["a5216eeb.2b3a2"]]},{"id":"9dae089a.3f9298","type":"delay","z":"e33e4bb4.297408","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":347.86663818359375,"y":397.53330993652343,"wires":[["6aec61d0.5c338"]]},{"id":"6aec61d0.5c338","type":"function","z":"e33e4bb4.297408","name":"DHT SQL","func":"msg.topic=\"select timestamp, humidity, temperature from dht11 order by timestamp desc limit 1\"\nreturn msg;","outputs":1,"noerr":0,"x":523.8666381835937,"y":371.53330993652343,"wires":[["a5216eeb.2b3a2"]]},{"id":"bfbdcdc3.cab688","type":"function","z":"e33e4bb4.297408","name":"Which Sensor?","func":"//함수의 출력을 3개로 만들어 둔 다음 센서에 따라 다르게 보낸다.\nvar str = msg.topic;\nvar length = msg.payload.length;\nif(length === 0){\n  msg.topic = \"Error\";\n  msg.payload = msg.payload + \"Query Error\";\n  return [ null, null, null, msg ]; //네번째로 출력\n}\nvar index = str.search(\"dht11\");\nif(index !== -1)\n{\n  msg.topic = \"dht11\";\n  return [ msg, null, null, null]; //첫번째로 출력\n}\nindex = msg.topic.search(\"mq\");\nif(index !== -1){\n  msg.topic = \"mq\";\n  return [ null, msg, null, null]; //두번째로 출력\n}\nmsg.topic = \"sr501\";\nreturn [ null, null, msg, null];    //세번째로 출력","outputs":"4","noerr":0,"x":769.5,"y":172.1999969482422,"wires":[["f23ca137.615c28"],["e4645381.f1728"],["75c20772.ca6d48"],["a5446ef5.87a758"]]},{"id":"75c20772.ca6d48","type":"function","z":"e33e4bb4.297408","name":"SR501 Emergency","func":"var detect = msg.payload[0].detect;\nvar time = msg.payload[0].timestamp;\nif(detect === 1){ //침입\n  var newmsg = { payload: msg.payload.length };\n  newmsg.topic = \"Alarm : Invasion detected\";\n  newmsg.payload = \"Invasion detected at\" + time;\n\n  msg.payload = detect;\n  return [newmsg, msg];\n}\nelse{ //정상\n  msg.payload = detect;\n  return [null, msg];\n}\n","outputs":"2","noerr":0,"x":789.5,"y":573.6000366210937,"wires":[["1cd13e16.48ec02"],["70f4c371.27562c","f16980c4.dc019"]]},{"id":"e4645381.f1728","type":"function","z":"e33e4bb4.297408","name":"MQ Emergency","func":"var density = msg.payload[0].density;\nvar time = msg.payload[0].timestamp;\nif(density > 10.0){ //위험\n  var newmsg = { payload: msg.payload.length };\n  newmsg.topic = \"Alarm : Unnormal Gas Density\";\n  newmsg.payload = \"Unnormal Gas Density:\" + temperature + \" at\" + time +\" detected\";  \n  return [newmsg, msg];\n}\nelse{ //정상\n  msg.payload = density;\n  return [null, msg];\n}","outputs":"2","noerr":0,"x":779.2000122070312,"y":465.2000732421875,"wires":[["1cd13e16.48ec02"],["ac313889.10af18","ce6c441e.591858"]]},{"id":"f23ca137.615c28","type":"function","z":"e33e4bb4.297408","name":"DHT11 Emergency","func":"var humidity = msg.payload[0].humidity;\nvar temperature = msg.payload[0].temperature;\nvar time = msg.payload[0].timestamp;\nif(temperature > 38.0){ //위험\n  var newmsg = { payload: msg.payload.length };\n  var hmsg = { payload: msg.payload.length };\n  newmsg.topic = \"Alarm : Unnormal temperature\";\n  newmsg.payload = \"Unnormal temperature:\" + temperature + \" at\" + time +\" detected\";\n  hmsg.payload = humidity;\n  msg.payload = temperature;\n  return [newmsg, hmsg, msg];\n}\nelse{ //정상\n  var hmsg = { payload: msg.payload.length };\n  hmsg.payload = humidity;\n  msg.payload = temperature;\n  return [null, hmsg, msg];\n}\n","outputs":"3","noerr":0,"x":783.2000122070312,"y":362.2000732421875,"wires":[["1cd13e16.48ec02"],["c7315342.a21af","d405d204.e68fe"],["69ba9b0d.c39fa4","360c50f3.62b9"]]},{"id":"a5446ef5.87a758","type":"debug","z":"e33e4bb4.297408","name":"Error Message","active":true,"console":"false","complete":"payload","x":1051.75,"y":22.199996948242187,"wires":[]},{"id":"b6fcb15c.bb7328","type":"debug","z":"e33e4bb4.297408","name":"debug","active":true,"console":"false","complete":"payload","x":104.699951171875,"y":396.45001220703125,"wires":[]},{"id":"86de3afa.114458","type":"e-mail","z":"e33e4bb4.297408","server":"smtp.gmail.com","port":"587","name":"raspberry.pi.maker@gmail.com","dname":"Alarm E-Mail","x":1230.1666259765625,"y":204.7388458251953,"wires":[]},{"id":"fafdb597.3bcae","type":"comment","z":"e33e4bb4.297408","name":"이메일 송신","info":"gmail 포트\n465번 포트(SSL 필요)\n587번 포트(TLS 필요)\n\n","x":1034.16650390625,"y":158.4888458251953,"wires":[]},{"id":"773c68f2.bf30a8","type":"exec","z":"e33e4bb4.297408","command":"ps -ef|grep python","addpay":false,"append":"","useSpawn":"","timer":"","name":"Python Check","x":186.861083984375,"y":133.1610870361328,"wires":[["56e02c70.c4cde4","23d9121.a986bee"],[],[]]},{"id":"a46e2720.464938","type":"inject","z":"e33e4bb4.297408","name":"Trigger","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":79.5,"y":60.149993896484375,"wires":[["773c68f2.bf30a8","5dfbf70e.4626a8"]]},{"id":"56e02c70.c4cde4","type":"function","z":"e33e4bb4.297408","name":"Python Check & SR501 SQL","func":"//파이썬 프로세스를 못찾으면 실행시킨다.\nvar str = msg.payload;\nvar index = str.search(\"main_control.py\");\nmsg.topic = \"select timestamp, detect from sr501 order by timestamp desc limit 1\";\nif(index !== -1)\n{\n  return [msg, null]; //첫번째로 출력\n}\nreturn [ msg, msg];  //첫번째,두번째 출력","outputs":"2","noerr":0,"x":415,"y":55,"wires":[["a5216eeb.2b3a2","41099d01.70f9f4"],["9a13791f.3fc188"]]},{"id":"4bb59f40.65de2","type":"comment","z":"e33e4bb4.297408","name":"시작","info":"여기에서 시작한다. 주기적(5초)으로 반복","x":56,"y":21,"wires":[]},{"id":"da9f1979.84a6a8","type":"comment","z":"e33e4bb4.297408","name":"메인 파이썬 실행","info":"파이썬 프로그램을 시작함","x":129,"y":273,"wires":[]},{"id":"1e39e45b.c16e3c","type":"comment","z":"e33e4bb4.297408","name":"파이썬 실행여부 확인","info":"파이썬 프로그램을 체크","x":395,"y":20,"wires":[]},{"id":"83610649.cc7fb8","type":"comment","z":"e33e4bb4.297408","name":"SR501 쿼리","info":"파이썬 프로그램을 체크","x":577.5,"y":20,"wires":[]},{"id":"4ef7eea5.62f14","type":"comment","z":"e33e4bb4.297408","name":"1초 후 MQ 쿼리","info":"","x":531.6666259765625,"y":194.3332977294922,"wires":[]},{"id":"3f73c631.01358a","type":"comment","z":"e33e4bb4.297408","name":"1초 후 DHT11 쿼리","info":"","x":538.6666259765625,"y":325.3332977294922,"wires":[]},{"id":"c7315342.a21af","type":"ui_gauge","z":"e33e4bb4.297408","name":"Humidity","group":"13114804.a32658","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1025.8333740234375,"y":295.1277770996094,"wires":[]},{"id":"69ba9b0d.c39fa4","type":"ui_gauge","z":"e33e4bb4.297408","name":"Temperature","group":"2d894ccd.e93aa4","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"x":1037.3333740234375,"y":381.5278015136719,"wires":[]},{"id":"ac313889.10af18","type":"ui_gauge","z":"e33e4bb4.297408","name":"Gas density","group":"ef7cfc7f.61f68","order":0,"width":0,"height":0,"gtype":"gage","title":"Gas density","label":"density","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"x":1041.3333740234375,"y":474.7778015136719,"wires":[]},{"id":"ce6c441e.591858","type":"ui_chart","z":"e33e4bb4.297408","name":"Gas density","group":"ef7cfc7f.61f68","order":0,"width":0,"height":0,"label":"Gas density","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"0","ymax":"1024","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1040.3333740234375,"y":514.7778015136719,"wires":[[],[]]},{"id":"d405d204.e68fe","type":"ui_chart","z":"e33e4bb4.297408","name":"Humidity","group":"13114804.a32658","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1026.3333740234375,"y":328.7778015136719,"wires":[[],[]]},{"id":"70f4c371.27562c","type":"ui_gauge","z":"e33e4bb4.297408","name":"Invasion Detection","group":"54a2e1a9.0e60b","order":0,"width":0,"height":0,"gtype":"gage","title":"Invasion Detection","label":"detect or not","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"x":1061.3333740234375,"y":577.7778015136719,"wires":[]},{"id":"f16980c4.dc019","type":"ui_chart","z":"e33e4bb4.297408","name":"Invasion Detection","group":"54a2e1a9.0e60b","order":0,"width":0,"height":0,"label":"Invasion Detection","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1061.3333740234375,"y":616.7778015136719,"wires":[[],[]]},{"id":"360c50f3.62b9","type":"ui_chart","z":"e33e4bb4.297408","name":"Temperature","group":"2d894ccd.e93aa4","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1038.3333740234375,"y":414.5278015136719,"wires":[[],[]]},{"id":"21595c3a.659034","type":"comment","z":"e33e4bb4.297408","name":"이메일 송신 간격 체크","info":"5초 단위로 이메일을 보낼 수는 없다.\n10분단위로 보내기 위해 이메일 송신 결과를 조회하는  파이썬 코드르 호출\n\n","x":128.74993896484375,"y":471.666748046875,"wires":[]},{"id":"1cd13e16.48ec02","type":"function","z":"e33e4bb4.297408","name":"E-mail Send?","func":"var yn = global.get(\"email\");\nif(yn == \"yes\"){//email 발송\n    return msg;\n}\n","outputs":"1","noerr":0,"x":1040.4168701171875,"y":204.44447326660156,"wires":[["86de3afa.114458"]]},{"id":"5dfbf70e.4626a8","type":"function","z":"e33e4bb4.297408","name":"EMail Check","func":"var sql = \"select (strftime(\\'%s\\',DATETIME(\\'now\\')) - strftime(\\'%s\\',timestamp)) as result from email order by timestamp desc limit 1\";\nmsg.topic = sql;\nreturn msg;","outputs":"1","noerr":0,"x":102.77777099609375,"y":511.25,"wires":[["bf638f7.3c32d7"]]},{"id":"bf638f7.3c32d7","type":"sqlite","z":"e33e4bb4.297408","mydb":"29732747.d3b5b8","name":"Pi_Monitoring DB","x":310.6944885253906,"y":538.8888549804687,"wires":[["c7c83284.39da4"]]},{"id":"c7c83284.39da4","type":"function","z":"e33e4bb4.297408","name":"EMail Flag","func":"\nvar result = msg.payload[0].result;\nif(result > 300){\n    global.set(\"email\",\"yes\");\n    msg.payload = \"email ->yes\";\n}\nelse{\n    global.set(\"email\",\"no\");\n    msg.payload = \"email ->no\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":507.01385498046875,"y":538.8958129882812,"wires":[[]]},{"id":"23d9121.a986bee","type":"debug","z":"e33e4bb4.297408","name":"debug","active":true,"console":"false","complete":"payload","x":365.625,"y":101.6250228881836,"wires":[]},{"id":"b3a986dd.200228","type":"ui_button","z":"e33e4bb4.297408","name":"Fish","group":"33fb2b00.650b76","order":0,"width":0,"height":0,"label":"사료 투입","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":83.95829772949219,"y":641.8263244628906,"wires":[["f7f9dfee.0ac08"]]},{"id":"e2fb75b1.64e368","type":"comment","z":"e33e4bb4.297408","name":"물고기 사료 공급용 버튼","info":"","x":142.0832977294922,"y":600.1388549804687,"wires":[]},{"id":"eb51cd2f.dfec9","type":"ui_text","z":"e33e4bb4.297408","group":"33fb2b00.650b76","order":0,"width":"0","height":"0","name":"Fish","label":"Result","format":"{{msg.payload}}","layout":"row-left","x":786.1805419921875,"y":648.4930419921875,"wires":[]},{"id":"1699c3af.fa7c7c","type":"ui_text","z":"e33e4bb4.297408","group":"33fb2b00.650b76","order":0,"width":"0","height":"0","name":"Message","label":"Err Message","format":"{{msg.payload}}","layout":"row-left","x":795.6767730712891,"y":688.0303649902344,"wires":[]},{"id":"f7f9dfee.0ac08","type":"function","z":"e33e4bb4.297408","name":"Clear","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":210.5,"y":714.449951171875,"wires":[["eb51cd2f.dfec9","1699c3af.fa7c7c","574da588.2e757c"]]},{"id":"9a13791f.3fc188","type":"daemon","z":"e33e4bb4.297408","command":"python","args":"/usr/local/src/monitor/main_control.py","cr":false,"redo":true,"op":"string","name":"Python Exec","x":118.5,"y":328.54998779296875,"wires":[["b6fcb15c.bb7328"],[],[]]},{"id":"544deaef.fd27f4","type":"exec","z":"e33e4bb4.297408","command":"python /usr/local/src/monitor/fish_meal.py","addpay":false,"append":"","useSpawn":"","timer":"","name":"Fish","x":548.0556030273437,"y":628.6610717773437,"wires":[["eb51cd2f.dfec9","1699c3af.fa7c7c"],[],[]]},{"id":"574da588.2e757c","type":"delay","z":"e33e4bb4.297408","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":364.4444274902344,"y":771.1111450195312,"wires":[["544deaef.fd27f4"]]},{"id":"29732747.d3b5b8","type":"sqlitedb","z":"","db":"/home/pi/PI_Monitoring.db"},{"id":"13114804.a32658","type":"ui_group","z":"","name":"Humidity","tab":"ccb083b4.471c7","disp":true,"width":"6"},{"id":"2d894ccd.e93aa4","type":"ui_group","z":"","name":"Temperature","tab":"ccb083b4.471c7","disp":true,"width":"6"},{"id":"ef7cfc7f.61f68","type":"ui_group","z":"","name":"Gas density","tab":"ccb083b4.471c7","disp":true,"width":"6"},{"id":"54a2e1a9.0e60b","type":"ui_group","z":"","name":"Invasion Detection","tab":"ccb083b4.471c7","disp":true,"width":"6"},{"id":"33fb2b00.650b76","type":"ui_group","z":"","name":"Fish","tab":"ccb083b4.471c7","disp":true,"width":"6"},{"id":"ccb083b4.471c7","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]